*{
   margin:0;
   padding:0;
}
div.container{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    
}
div.container > .box{
    margin:5px;
    
}
div.container > .box img{
    height:300px;
    width:300px;
    border: 1px solid #333;
    opacity:0.9;
}
div.container > .box img:hover{
    border: 2px solid black;
    opacity:1;
}
